In [1]:
{"age": "Integer",
 "workclass": "Object",
 "fnlwgt": "Integer",
 "education": "Object",
 "education-num": "Integer",
 "marital-status": "Object",
 "occupation": "Object",
 "relationship": "Object",
 "race": "Object",
 "sex": "Object",
 "capital-gain": "Integer",
 "capital-loss": "Integer",
 "hours-per-week": "Integer",
 "country": "Object",
 "salary": "Object"}

{'age': 'int64',
 'workclass': 'O',
 'fnlwgt': 'int64',
 'education': 'O',
 'education-num': 'int64',
 'marital-status': 'O',
 'occupation': 'O',
 'relationship': 'O',
 'race': 'O',
 'sex': 'O',
 'capital-gain': 'int64',
 'capital-loss': 'int64',
 'hours-per-week': 'int64',
 'country': 'O',
 'salary': 'O'}

In [2]:
import os

cluster_number= 1
folder_name='models/'
list_of_model_files = []
print_one = []
print_two = []
list_of_files = os.listdir(folder_name)
for file in list_of_files:
    try:
        if (file.index(str(cluster_number))!=-1):
            model_name=file
            print_one.append(model_name)
    except:
        continue
model_name=model_name.split('.')[0]
print_two.append(model_name)

In [3]:
print_one

['XGBoost1']

In [4]:
print_two

['XGBoost1']

In [9]:
list_of_files

['KMeans', 'XGBoost0', 'XGBoost1', 'XGBoost2', 'XGBoost3']

In [8]:
for file in list_of_files:
        if (file.index(str(cluster_number))!=-1):
                print(file.index(str(cluster_number)))

ValueError: substring not found

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test_database.db')

In [3]:
c= conn.cursor()

In [4]:
c.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table' AND name = 'Good_Raw_Data'")

In [5]:
c.fetchone()[0]

0

In [6]:
c.fetchone()

In [13]:
col1 = [1,2,5,8,6,9,8,4,20,32]
col2 = [50,21,447,885,69,32,14,52,25,98]
category = list(['honda','tata','tata','honda','tata','tata','honda','tata','tata','honda'])

In [14]:
print(len(col1), len(col2), len(category))

10 10 10

In [16]:
import pandas as pd
df = pd.DataFrame({'col1':col1,'col2':col2, 'category1': category})

In [18]:
df

   col1  col2 category1
0     1    50     honda
1     2    21      tata
2     5   447      tata
3     8   885     honda
4     6    69      tata
5     9    32      tata
6     8    14     honda
7     4    52      tata
8    20    25      tata
9    32    98     honda

In [20]:
from sklearn.preprocessing import StandardScaler
df2 = df.copy()

In [21]:
scaler = StandardScaler()
for i in df2:
    df2[i] = scaler.fit_transform(df2[i])

ValueError: Expected 2D array, got 1D array instead:
array=[ 1.  2.  5.  8.  6.  9.  8.  4. 20. 32.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [28]:
import numpy as np
arr = np.array(col1).reshape(1,-1)
print(arr,
scaler.fit_transform(arr)
)

[[ 1  2  5  8  6  9  8  4 20 32]] [[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Create a sample DataFrame
data = {'A': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Create an instance of MinMaxScaler
scaler = MinMaxScaler()

# Scale the 'A' column
df['A_scaled'] = scaler.fit_transform(df[['A']])

# Print the scaled DataFrame
print(df)

    A  A_scaled
0  10      0.00
1  20      0.25
2  30      0.50
3  40      0.75
4  50      1.00

In [2]:
df['B'] = df['A'].copy()
df

    A  A_scaled   B
0  10      0.00  10
1  20      0.25  20
2  30      0.50  30
3  40      0.75  40
4  50      1.00  50

In [4]:
df['B_scaled'] = scaler.fit_transform(df[['B']])

In [5]:
df

    A  A_scaled   B  B_scaled
0  10      0.00  10      0.00
1  20      0.25  20      0.25
2  30      0.50  30      0.50
3  40      0.75  40      0.75
4  50      1.00  50      1.00

In [6]:
type(df[['B']])

pandas.core.frame.DataFrame

In [7]:
df[['B']].shape

(5, 1)

In [8]:
import pandas as pd

# Create a sample DataFrame
data = {
    'color': ['red', 'blue', 'green', 'red', 'green'],
    'size': ['small', 'large', 'medium', 'medium', 'small'],
    'shape': ['circle', 'square', 'triangle', 'circle', 'triangle']
}
df = pd.DataFrame(data)

# Get dummy variables for the 'color' column
color_dummies = pd.get_dummies(df['color'], prefix='color')

# Print the resulting dummy variables
print(color_dummies)

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            1          0
3           0            0          1
4           0            1          0

In [9]:
import pandas as pd

# Create a sample DataFrame
data = {
    'color': ['red', 'blue', 'green', 'red', 'green'],
    'size': ['small', 'large', 'medium', 'medium', 'small'],
    'shape': ['circle', 'square', 'triangle', 'circle', 'triangle'],
    'value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

# Select the categorical columns
categorical_columns = ['color', 'size', 'shape']

# Get dummy variables for the categorical columns
dummy_df = pd.get_dummies(df[categorical_columns], prefix=categorical_columns)

# Concatenate the dummy variables with the numerical columns
df_with_dummies = pd.concat([df.drop(categorical_columns, axis=1), dummy_df], axis=1)

# Print the resulting DataFrame
print(df_with_dummies)

   value  color_blue  color_green  color_red  size_large  size_medium  \
0     10           0            0          1           0            0
1     20           1            0          0           1            0
2     30           0            1          0           0            1
3     40           0            0          1           0            1
4     50           0            1          0           0            0

   size_small  shape_circle  shape_square  shape_triangle
0           1             1             0               0
1           0             0             1               0
2           0             0             0               1
3           0             1             0               0
4           1             0             0               1

In [12]:
df.columns

Index(['color', 'size', 'shape', 'value'], dtype='object')

In [13]:
df = pd.read_csv('adultCensus_20230602_010222.csv')

In [14]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
cat_df = df.select_dtypes(include=['object']).copy()
# Using the dummy encoding to encode the categorical columns to numericsl ones
dummy_df = pd.get_dummies(cat_df, prefix=cat_df.columns, drop_first=True)
            
df_with_dummies = pd.concat([df.drop(cat_df.columns, axis=1), dummy_df], axis=1)
# for col in cat_df.columns:
#     cat_df = pd.get_dummies(cat_df, columns=[col], prefix=[col], drop_first=True)

In [22]:
df_with_dummies.columns

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       ...
       'country_ Puerto-Rico', 'country_ Scotland', 'country_ South',
       'country_ Taiwan', 'country_ Thailand', 'country_ Trinadad&Tobago',
       'country_ United-States', 'country_ Vietnam', 'country_ Yugoslavia',
       'salary_ >50K'],
      dtype='object', length=101)

In [23]:
dfn = pd.get_dummies(df, drop_first=True)

In [24]:
dfn

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,country_ Puerto-Rico,country_ Scotland,country_ South,country_ Taiwan,country_ Thailand,country_ Trinadad&Tobago,country_ United-States,country_ Vietnam,country_ Yugoslavia,salary_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32557,40,154374,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
32558,58,151910,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32559,22,201490,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32560,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [20]:
import csv

with open('adult_file_2.csv', 'r') as f:
    reader = csv.reader(f,delimiter = "\n")

In [21]:
reader

In [22]:
with open('adult_file_2.csv', 'r') as f:
    reader = csv.reader(f,delimiter = "\n")
    for line_num, line in enumerate(reader):
        for item in (line):
            print(item)

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
39, State-gov,77516, Bachelors,13, Never-married, Adm-clerical, Not-in-family, White, Male,2174,0,40, United-States, <=50K
50, Self-emp-not-inc,83311, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,13, United-States, <=50K
38, Private,215646, HS-grad,9, Divorced, Handlers-cleaners, Not-in-family, White, Male,0,0,40, United-States, <=50K
53, Private,234721, 11th,7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male,0,0,40, United-States, <=50K
28, Private,338409, Bachelors,13, Married-civ-spouse, Prof-specialty, Wife, Black, Female,0,0,40, Cuba, <=50K
37, Private,284582, Masters,14, Married-civ-spouse, Exec-managerial, Wife, White, Female,0,0,40, United-States, <=50K
49, Private,160187, 9th,5, Married-spouse-absent, Other-service, Not-in-family, Black, Female,0,0,16, Jamaica, <=50K
52, Self-emp-not-inc,209642, HS-grad,9, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,45, United-States, >50K
31, Private,45781, Masters,14, Never-married, Prof-specialty, Not-in-family, White, Female,14084,0,50, United-States, >50K
42, Private,159449, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,5178,0,40, United-States, >50K

In [23]:
with open('adult_file_2.csv', 'r') as f:
    next(f)
    reader = csv.reader(f,delimiter = "\n")
    for line in enumerate(reader):
        for list_ in (line[1]):
            print(list_)

39, State-gov,77516, Bachelors,13, Never-married, Adm-clerical, Not-in-family, White, Male,2174,0,40, United-States, <=50K
50, Self-emp-not-inc,83311, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,13, United-States, <=50K
38, Private,215646, HS-grad,9, Divorced, Handlers-cleaners, Not-in-family, White, Male,0,0,40, United-States, <=50K
53, Private,234721, 11th,7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male,0,0,40, United-States, <=50K
28, Private,338409, Bachelors,13, Married-civ-spouse, Prof-specialty, Wife, Black, Female,0,0,40, Cuba, <=50K
37, Private,284582, Masters,14, Married-civ-spouse, Exec-managerial, Wife, White, Female,0,0,40, United-States, <=50K
49, Private,160187, 9th,5, Married-spouse-absent, Other-service, Not-in-family, Black, Female,0,0,16, Jamaica, <=50K
52, Self-emp-not-inc,209642, HS-grad,9, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,45, United-States, >50K
31, Private,45781, Masters,14, Never-married, Prof-specialty, Not-in-family, White, Female,14084,0,50, United-States, >50K
42, Private,159449, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,5178,0,40, United-States, >50K

In [24]:
import sqlite3

column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary']

data_types = ['int64', 'Object', 'int64', 'Object',
       'int64', 'Object', 'Object', 'Object', 'Object',
       'Object', 'int64', 'int64', 'int64','Object', 'Object']

# Connect to the database (creates a new database if it doesn't exist)
conn = sqlite3.connect('test_database.db')

# Create a cursor object to execute SQL queries
c = conn.cursor()

# Create a table
c.execute('CREATE TABLE  Good_Raw_Data ({column_name} {dataType})'.format(column_name=column_names, dataType=data_types))

# Commit the changes
conn.commit()

# Close the database connection
conn.close()

OperationalError: table Good_Raw_Data already exists

In [25]:
# check if the table is created
conn = sqlite3.connect('test_database.db')
c = conn.cursor()
c.execute("SELECT name  FROM sqlite_master WHERE type = 'table' ")
c.fetchall()

[('Good_Raw_Data',)]

In [26]:
conn.close()

In [27]:
import csv

conn = sqlite3.connect('test_database.db')
c = conn.cursor()
with open('adult_file_2.csv', 'r') as f:
    next(f)
    reader = csv.reader(f,delimiter = "\n")
    for line in enumerate(reader):
        for list_ in (line[1]):
            c.execute('INSERT INTO Good_Raw_Data ({column_names}) values ("{values}")'.format(column_names=(column_names),values=(list_)))
            conn.commit()

conn.close()

In [28]:
conn = sqlite3.connect('test_database.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Fetch all table names in the database
cursor.execute("SELECT * from Good_Raw_Data;")
cursor.fetchall()

[('39, State-gov,77516, Bachelors,13, Never-married, Adm-clerical, Not-in-family, White, Male,2174,0,40, United-States, <=50K',),
 ('50, Self-emp-not-inc,83311, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,13, United-States, <=50K',),
 ('38, Private,215646, HS-grad,9, Divorced, Handlers-cleaners, Not-in-family, White, Male,0,0,40, United-States, <=50K',),
 ('53, Private,234721, 11th,7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male,0,0,40, United-States, <=50K',),
 ('28, Private,338409, Bachelors,13, Married-civ-spouse, Prof-specialty, Wife, Black, Female,0,0,40, Cuba, <=50K',),
 ('37, Private,284582, Masters,14, Married-civ-spouse, Exec-managerial, Wife, White, Female,0,0,40, United-States, <=50K',),
 ('49, Private,160187, 9th,5, Married-spouse-absent, Other-service, Not-in-family, Black, Female,0,0,16, Jamaica, <=50K',),
 ('52, Self-emp-not-inc,209642, HS-grad,9, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,45, United-States, >50K',),
 ('31, Private,45781, Masters,14, Never-married, Prof-specialty, Not-in-family, White, Female,14084,0,50, United-States, >50K',),
 ('42, Private,159449, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,5178,0,40, United-States, >50K',),
 ('39, State-gov,77516, Bachelors,13, Never-married, Adm-clerical, Not-in-family, White, Male,2174,0,40, United-States, <=50K',),
 ('50, Self-emp-not-inc,83311, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,13, United-States, <=50K',),
 ('38, Private,215646, HS-grad,9, Divorced, Handlers-cleaners, Not-in-family, White, Male,0,0,40, United-States, <=50K',),
 ('53, Private,234721, 11th,7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male,0,0,40, United-States, <=50K',),
 ('28, Private,338409, Bachelors,13, Married-civ-spouse, Prof-specialty, Wife, Black, Female,0,0,40, Cuba, <=50K',),
 ('37, Private,284582, Masters,14, Married-civ-spouse, Exec-managerial, Wife, White, Female,0,0,40, United-States, <=50K',),
 ('49, Private,160187, 9th,5, Married-spouse-absent, Other-service, Not-in-family, Black, Female,0,0,16, Jamaica, <=50K',),
 ('52, Self-emp-not-inc,209642, HS-grad,9, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,45, United-States, >50K',),
 ('31, Private,45781, Masters,14, Never-married, Prof-specialty, Not-in-family, White, Female,14084,0,50, United-States, >50K',),
 ('42, Private,159449, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,5178,0,40, United-States, >50K',),
 ('39, State-gov,77516, Bachelors,13, Never-married, Adm-clerical, Not-in-family, White, Male,2174,0,40, United-States, <=50K',),
 ('50, Self-emp-not-inc,83311, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,13, United-States, <=50K',),
 ('38, Private,215646, HS-grad,9, Divorced, Handlers-cleaners, Not-in-family, White, Male,0,0,40, United-States, <=50K',),
 ('53, Private,234721, 11th,7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male,0,0,40, United-States, <=50K',),
 ('28, Private,338409, Bachelors,13, Married-civ-spouse, Prof-specialty, Wife, Black, Female,0,0,40, Cuba, <=50K',),
 ('37, Private,284582, Masters,14, Married-civ-spouse, Exec-managerial, Wife, White, Female,0,0,40, United-States, <=50K',),
 ('49, Private,160187, 9th,5, Married-spouse-absent, Other-service, Not-in-family, Black, Female,0,0,16, Jamaica, <=50K',),
 ('52, Self-emp-not-inc,209642, HS-grad,9, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,45, United-States, >50K',),
 ('31, Private,45781, Masters,14, Never-married, Prof-specialty, Not-in-family, White, Female,14084,0,50, United-States, >50K',),
 ('42, Private,159449, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,5178,0,40, United-States, >50K',),
 ('39, State-gov,77516, Bachelors,13, Never-married, Adm-clerical, Not-in-family, White, Male,2174,0,40, United-States, <=50K',),
 ('50, Self-emp-not-inc,83311, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,13, United-States, <=50K',),
 ('38, Private,215646, HS-grad,9, Divorced, Handlers-cleaners, Not-in-family, White, Male,0,0,40, United-States, <=50K',),
 ('53, Private,234721, 11th,7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male,0,0,40, United-States, <=50K',),
 ('28, Private,338409, Bachelors,13, Married-civ-spouse, Prof-specialty, Wife, Black, Female,0,0,40, Cuba, <=50K',),
 ('37, Private,284582, Masters,14, Married-civ-spouse, Exec-managerial, Wife, White, Female,0,0,40, United-States, <=50K',),
 ('49, Private,160187, 9th,5, Married-spouse-absent, Other-service, Not-in-family, Black, Female,0,0,16, Jamaica, <=50K',),
 ('52, Self-emp-not-inc,209642, HS-grad,9, Married-civ-spouse, Exec-managerial, Husband, White, Male,0,0,45, United-States, >50K',),
 ('31, Private,45781, Masters,14, Never-married, Prof-specialty, Not-in-family, White, Female,14084,0,50, United-States, >50K',),
 ('42, Private,159449, Bachelors,13, Married-civ-spouse, Exec-managerial, Husband, White, Male,5178,0,40, United-States, >50K',)]

In [29]:
conn = sqlite3.connect('test_database.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Fetch all table names in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = cursor.fetchall()

# Print the table names
for name in table_names:
    print(name)

# Close the database connection
conn.close()

('Good_Raw_Data',)

In [30]:
table_names

[('Good_Raw_Data',)]

In [31]:
# table describe
conn = sqlite3.connect('test_database.db')
cursor = conn.cursor()

# cursor.execute("SELECT * FROM Good_Raw_Data;")
cursor.execute("PRAGMA table_info(Good_Raw_Data);")
cursor.fetchall()

# # Print the table names
# for item in records:
#     print(item)

# # Close the database connection
# conn.close()

# # print(records)

[(0,
  "'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'",
  "'int64', 'O', 'int64', 'O', 'int64', 'O', 'O', 'O', 'O', 'O', 'int64', 'int64', 'int64', 'O', 'O'",
  0,
  None,
  0)]

In [32]:
# table describe
conn = sqlite3.connect('test_database.db')
cursor = conn.cursor()

# cursor.execute("SELECT * FROM Good_Raw_Data;")
cursor.execute("PRAGMA table_info(Good_Raw_Data);")
descr = cursor.fetchall()

# # Print the table names
for item in descr:
    print(item)

# # Close the database connection
conn.close()

# # print(records)

(0, "'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'", "'int64', 'O', 'int64', 'O', 'int64', 'O', 'O', 'O', 'O', 'O', 'int64', 'int64', 'int64', 'O', 'O'", 0, None, 0)

In [34]:

sqlSelect = "SELECT *  FROM Good_Raw_Data"
conn = sqlite3.connect('test_database.db')
cursor = conn.cursor()
cursor = conn.cursor()

cursor.execute(sqlSelect)
cursor.fetchall()
# Get the headers of the csv file
cursor.description

(("'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'",
  None,
  None,
  None,
  None,
  None,
  None),)

In [35]:
len(cursor.description)

1

In [36]:
[i[0] for i in cursor.description]

["'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'"]

In [37]:

import os
import csv

sqlSelect = "SELECT *  FROM Good_Raw_Data"
cursor = conn.cursor()
cursor.execute(sqlSelect)

results = cursor.fetchall()
# Get the headers of the csv file
headers = [i[0] for i in cursor.description]

# Open CSV file for writing.
csvFile = csv.writer(open('output.csv', 'w', newline=''),delimiter=',', lineterminator='\r\n',quoting=csv.QUOTE_ALL, escapechar='\\')

# Add the headers and data to the CSV file.
csvFile.writerow(headers)
csvFile.writerows(results)

data from the table of the db is exported into a csv file.

### Getting column names from schema json file

In [3]:
import json
schema_path = 'schema_training.json'

with open(schema_path, 'r') as f:
                dic = json.load(f)
                f.close()

columns = dic['ColName']

In [4]:
columns

{'age': 'Integer',
 'workclass': 'Object',
 'fnlwgt': 'Integer',
 'education': 'Object',
 'education-num': 'Integer',
 'marital-status': 'Object',
 'occupation': 'Object',
 'relationship': 'Object',
 'race': 'Object',
 'sex': 'Object',
 'capital-gain': 'Integer',
 'capital-loss': 'Integer',
 'hours-per-week': 'Integer',
 'country': 'Object',
 'salary': 'Object'}

In [5]:
columns.keys()

dict_keys(['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'])

In [6]:
list(columns.keys())

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'country',
 'salary']

In [7]:
[column_names[i] for i in column_names.keys()]

['Integer',
 'Object',
 'Integer',
 'Object',
 'Integer',
 'Object',
 'Object',
 'Object',
 'Object',
 'Object',
 'Integer',
 'Integer',
 'Integer',
 'Object',
 'Object']